* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #111827;
  color: #fff;
  font-family: 'Crete Round', sans-serif;
}

.italic {
  font-style: italic;
}

li {
  padding-top: 1rem;
}

a {
  color: #f15d9f;
  font-size: 1.1rem;
}